<div id="btnWrapper">
	<a href="/admin/users"><button class="btn btn-primary">유저</button></a>
	<a href="/admin/boards"><button class="btn btn-primary">게시글</button></a>
	<a href="/admin/boards/new"><button class="btn btn-primary">글쓰기</button></a>
	<a href="/admin/groups/set_rank_form"><button class="btn btn-primary">순위설정</button></a>
</div>