<form id="setRankForm" style="width: 85%; margin: 10% auto" method="POST">
	<div class="form-group" style="display: inline-block;">
    <label>두산 베어즈</label>
    <input type="text" name="rank" class="form-control" style="width: 100px;">
  </div>
  <div class="form-group" style="display: inline-block;">
    <label>한화 이글즈</label>
    <input type="text" name="rank" class="form-control" style="width: 100px;">
  </div>
  <div class="form-group" style="display: inline-block;">
    <label>기아 타이거즈</label>
    <input type="text" name="rank" class="form-control" style="width: 100px;">
  </div>
  <div class="form-group" style="display: inline-block;">
    <label>KT 위즈</label>
    <input type="text" name="rank" class="form-control" style="width: 100px;">
  </div>
  <div class="form-group" style="display: inline-block;">
    <label>롯데 자이언츠</label>
    <input type="text" name="rank" class="form-control" style="width: 100px;">
  </div>
  <div class="form-group" style="display: inline-block;">
    <label>LG 트윈즈</label>
    <input type="text" name="rank" class="form-control" style="width: 100px;">
  </div>
  <div class="form-group" style="display: inline-block;">
    <label>NC 다이노스</label>
    <input type="text" name="rank" class="form-control" style="width: 100px;">
  </div>
  <div class="form-group" style="display: inline-block;">
    <label>넥센 히어로즈</label>
    <input type="text" name="rank" class="form-control" style="width: 100px;">
  </div>
  <div class="form-group" style="display: inline-block;">
    <label>삼성 라이온즈</label>
    <input type="text" name="rank" class="form-control" style="width: 100px;">
  </div>
  <div class="form-group" style="display: inline-block;">
    <label>SK 와이번스</label>
    <input type="text" name="rank" class="form-control" style="width: 100px;">
  </div><br/>
  <input type="submit" class="btn btn-default" value="변경">
</form>