<form method="POST" action="/users">
	이메일 <input type="text" name="email">
	패스워드 <input type="password" name="password">
	닉네임 <input type="text" name="nick_name">
	<input type="submit" value="제출">
</form>