<form id="writeBoard" style="width: 80%; margin: 10px auto;" method="POST" enctype="multipart/form-data">
	<label>1. 구단 선택 ( 중복선택 가능 )</label> <br />
	<input type="radio" value="0" class="groupId">두산 베어즈
	<input type="radio" value="1" class="groupId">한화 이글즈
	<input type="radio" value="2" class="groupId">기아 타이거즈
	<input type="radio" value="3" class="groupId">KT 위즈
	<input type="radio" value="4" class="groupId">롯데 자이언츠
	<input type="radio" value="5" class="groupId">LG 트윈즈
	<input type="radio" value="6" class="groupId">NC 다이노스
	<input type="radio" value="7" class="groupId">넥센 히어로즈
	<input type="radio" value="8" class="groupId">삼성 라이온즈
	<input type="radio" value="9" class="groupId">SK 와이번스
	<br /><br />
	<label>2. 내용</label> <br />
	<textarea name="content"></textarea>
	<br /><br />
	<label>3. 이미지</label> <br />
	<input type="file" class="fileInput" name="#file0"></input>
	<input type="file" class="fileInput" name="#file1"></input>
	<input type="file" class="fileInput" name="#file2"></input>
	<input type="file" class="fileInput" name="#file3"></input>
	<input type="file" class="fileInput" name="#file4"></input>
	<input type="file" class="fileInput" name="#file5"></input>
	<input type="file" class="fileInput" name="#file6"></input>
	<input type="file" class="fileInput" name="#file7"></input>
	<input type="file" class="fileInput" name="#file8"></input>
	<input type="file" class="fileInput" name="#file9"></input>
	<br />
	<label>4. 등급</label> <br />
	<input type="radio" value="0" checked="true" class="level" name="level">일반
	<input type="radio" value="1" class="level" name="level">공지
	<br /><br />
	<input type="submit" value="글쓰기" class="btn btn-default">
</form>