<form method="POST" action="/boards">
	제목 <input type="text" name="title">
	내용 <input type="text" name="content">
	구단코드 <input type="text" name="group_number">
	<input type="submit" value="제출">
</form>